body {
    padding: 30px;
}

.label1 {
    width: 120px;
    text-align: right;
    margin-right: 5px;
}

.input1 {
    width: 150px;
    height: 30px;
    text-align: left !important;
    padding-left: 10px;
    border-radius: 8px;
}

.currency {
    height: 30px;
    width: 60px;
    border-radius: 8px;
}

.time-select {
    height: 25px;
    width: 50px;
    border-radius: 8px;
}

.filter-selected {
    color: rgb(255,0,0);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}