<table class="table table-striped">
    <tr>
        <th ng-click="setOrder('ID')" class="noselect">Exchange Number<i ng-class="getOrderIcon('ID')"></i></th>
        <th ng-click="setOrder('exchangePrice')" class="noselect">Price per unit (EUR)<i ng-class="getOrderIcon('exchangePrice')"></i></th>
        <th ng-click="setOrder('exchangeAmmount')" class="noselect">Ammount<i ng-class="getOrderIcon('exchangeAmmount')"></i></th>
        <th ng-click="setOrder('expirationTime')" class="noselect">Time remaining<i ng-class="getOrderIcon('expirationTime')"></i></th>
        <th></th>
    </tr>
    <tr ng-repeat="exchange in $ctrl.exchangeHistory | orderBy: $ctrl.orderProp : $ctrl.orderReverse">
        <td>{{exchange.ID}}</td>
        <td>{{exchange.exchangePrice.toFixed(2)}}</td>
        <td>{{exchange.exchangeAmmount}}</td>
        <td>{{$ctrl.getTimeRemaining(exchange.expirationTime, $ctrl.now, exchange.ID)}}</td>
        <td><button ng-click="cancelOrder(exchange.ID)" class="btn btn-danger btn-sm">Cancel</button> </td>
    </tr>
</table>

<a href="#!/home">
    <button class="btn btn-info" type="submit" style="display:inline-block;">Back</button>    
</a>
