<table class="table table-striped">
    <tr>
        <th ng-click="setOrder('ID')">Exchange Number</th>
        <th ng-click="setOrder('inputValue')">Price per unit (EUR)</th>
        <th ng-click="setOrder('outputValue')">Ammount</th>
        <th ng-click="setOrder('experationTime')">Time remaining</th>
    </tr>
    <tr ng-repeat="exchange in $ctrl.exchangeHistory | orderBy: $ctrl.orderProp : $ctrl.orderReverse">
        <td>{{exchange.ID}}</td>
        <td>{{exchange.inputValue.toFixed(2)}}</td>
        <td>{{exchange.outputValue}}</td>
        <td>{{$ctrl.getTimeRemaining(exchange.experationTime, $ctrl.now)}}</td>
    </tr>
</table>

<a href="#!/home">
    <button class="btn btn-info" type="submit" style="display:inline-block;">Back</button>    
</a>
